body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.background-image {
    width: 1300px; /* Largura desejada */
    height: 700px; /* Altura desejada */
    position: fixed;
    background-image: url('img/StarWarsBackground.png');
    background-size: cover; /* Cobre todo o espaço */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1; /* Fica abaixo da sobreposição */
    
}

.logo {
    width: 350px;
    height: auto;
    position: absolute;
    top: 50px; /* Distância do topo da página */
    left: 50%; /* Centraliza a logo horizontalmente */
    transform: translateX(-50%); /* Corrige o deslocamento */
    z-index: 2; /* Certifica-se que a logo fique acima de outros elementos */
}


.tabela_email {
    background-color: rgb(31, 31, 31);
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 25px;
    margin-top: 100px;
    border-radius: 10px;
    z-index: 3; /* Garante que o conteúdo fique acima da sobreposição */
    
}

.p_esquerda {
    text-align: left;
    font-size: 30px;
    color: rgb(208, 208, 208);
    font-weight: bold;
}

.p_baixo {
    text-align: left;
    font-size: 20px;
    font-style: normal;
    color: rgb(208, 208, 208);
    margin-top: -20px;
}

.botao {
    background-color: rgb(31, 31, 31);
    color: rgb(126, 126, 126);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(54, 54, 54); /* Borda branca */
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 90%;
}

.botao:hover {
    color: rgb(196, 196, 196);
    border: 2px solid rgb(67, 67, 67); /* Borda branca */
}

input[type="email"] {
    width: 90%;
    margin-bottom: 6px;
    border-radius: 5px;
    border: 1px solid rgba(255, 246, 81, 0.5);
    color: rgb(126, 126, 126);
    background-color: rgb(54, 54, 54);
    font-size: 13px;
}

input[type="email"]::placeholder {
    color: rgb(170, 170, 170);
}














.tabela_nome_personagem {
    background-color: rgb(31, 31, 31);
    padding-left: 25px;
    padding-right: 25px;
    padding-block: 50px;
    margin-top: 100px;
    border-radius: 10px;
    display: None;
    z-index: 3; /* Garante que o conteúdo fique acima da sobreposição */
}

input[type="nome_personagem"] {
    width: 90%;
    height: 20px;
    margin-bottom: 6px;
    border-radius: 5px;
    border: 1px solid rgba(17, 255, 184, 0.575);
    color: rgb(126, 126, 126);
    background-color: rgb(54, 54, 54);
    font-size: 13px;
}
input[type="nome_personagem"]::placeholder {
    color: rgb(170, 170, 170);
}

.botao_request {
    background-color: rgb(255, 236, 24);
    color: rgb(72, 72, 72);
    font-size: 16px;
    cursor: pointer;
    
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 90%;
    
}

.botao_request:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 234, 5);
}










.dados_personagem {
    background-color: rgb(31, 31, 31);
    padding-left: 15px;
    padding-right: 15px;
    padding-block: 10px;
    margin-top:180px;
    border-radius: 10px;
   
    position: absolute;
    text-align: left;
    z-index: 3; /* Garante que o conteúdo fique acima da sobreposição */
    display: None;
}





.mais_profundo {
    width: 48%; /* Isso permite dois itens por linha */
    display: inline-block; /* Exibe os itens lado a lado */
    margin-inline-end: -30px;
}

/* Estilo para Planeta */
.armazenado {
    text-align: left;
    font-size: 12px;
    font-style: normal;
    color: rgb(174, 174, 174);
    background-color: rgb(77, 77, 77);
    margin-top: 1px;
    border-radius: 3px;
    padding: 5px 10px; /* Ajustado para um pouco mais de padding horizontal */
    width:max-content; /* A largura se ajustará ao tamanho do texto */
   

}



/*
<p><strong>Filmes:</strong></p>
<p id="filmes" class="filmes"></p>
<p><strong>Naves:</strong></p>
<p id="naves" class="naves"></p>
<p><strong>Veículos:</strong></p>
<p id="veiculos" class="veiculos"></p>
<p><strong>Espécies:</strong></p>
<p id="especies" class="especies"></p>
<p><strong>Planeta Natal:</strong></p>
<p id="planeta" class="planeta"></p>*/




/* Estilo para o nome no topo */
.nome_usuario {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; /* Escolha a cor que mais combina com seu projeto */
    text-align: center;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 9px;
}
